.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 150px;

  h1 {
    font-size: 90px;
    max-width: 70%;
    text-align: center;
    padding-bottom: 30px;
  }

}

