@import "styles/components/_searchbar.scss";
@import "styles/settings";
@import "styles/home.scss";

$color55: #2A324B;
$color45: #767B91;
$color35: #C7CCDB;
$color25: #E1E5EE;
$color15: #F7C59F;

html {
  background-color: $color25;
  color: $color55;
}

.temp--result {
  margin-top: 80px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 200px;

  .temp--degrees {
    margin-top: 30px;
    font-size: 40px;
  }

  .temp--city {
    font-size: 18px;
  }

}